<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" th:href="@{/styles/footer.css}" href="../../static/styles/footer.css">

  </head>
  <body>
    <footer class="page-footer" th:fragment="footer">
      <div id="foot" class="footer-copyright text-center py-3">© 2020 Copyright: Developed by <strong>Andrei Zsoldos</strong></div>
    </footer>
 </body>
</html>
