<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--meta name="_csrf" th:content="${_csrf.token}" /> for Spring Security -->
    <!--meta name="_csrf_header" th:content="${_csrf.headerName}" /> for Spring Security -->

    <title>International Airports</title>

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" th:href="@{/styles/header.css}" href="../../static/styles/header.css">
    <link type="text/css" rel="stylesheet" th:href="@{/styles/search-box-header-style.css}" href="../../static/styles/search-box-header-style.css">

    <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</head>
  <body>
    <div th:fragment="main-header">
      <!-- Sidebar  -->
      <nav id="sidebar" class="noScrollbar">
        <div class="sidebar-header box">
          <div class="inner">
            <span>International Airports</span>
          </div>
          <div class="inner">
            <span>International Airports</span>
          </div>
        </div>

        <ul class="list-unstyled components">
          <li>
            <a href="../home-page.html" th:href="@{/}">
              <span class="glyphicon glyphicon-home"></span>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <span class="glyphicon glyphicon-plane"></span>
              <span>Airports</span>
              <span class="glyphicon glyphicon-chevron-down" style="float: right"></span>
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <a href="../airport-search.html" th:href="@{/search-airport/(region='all')}">
                  <span class="glyphicon glyphicon-globe"></span>
                  <span>All Airports</span>
                </a>
              </li>
              <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <span class="glyphicon glyphicon-flag"></span>
                  <span class="glyphicon glyphicon-chevron-down" style="float: right"></span>
                  <span>Airports by Region</span>
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                  <!--/*@thymesVar id="regions" type=""*/-->
                  <li th:each="reg : ${regions}">
                    <a href="../airport-search.html" th:href="@{/search-airport/(region=${reg})}" th:text="${reg}" class="indent"> Airports</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="../airline-search.html" th:href="@{/search-airline}">
              <span class="glyphicon glyphicon-road"></span>
              <span>Airlines</span>
            </a>
          </li>
        </ul>

        <ul class="list-unstyled CTAs">
          <li>
            <a href="../about.html" th:href="@{/about}" class="article">
              <span class="glyphicon glyphicon-user"></span>
              <span>About</span>
            </a>
          </li>
          <li sec:authorize="isAnonymous()">
            <a><span style="font-size: 14px">Currently not logged in!</span></a>
          </li>
          <li sec:authorize="isAuthenticated()">
            <a>
              <p style="font-size: 13px">Logged in as: <span sec:authentication="name">Username</span></p>
              <p style="font-size: 13px">with: <span sec:authentication="principal.authorities">Role</span></p>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Top navbar  -->
      <div id="myNav">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="collapse navbar-collapse">
              <div class="navbar-nav" style="width: 150px">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" onclick="changeMenuName()" th:onclick="changeMenuName()">
                  <span class="glyphicon glyphicon-list"></span>
                  <span id="mnu">Menu</span>
                </button>
              </div>
              <form id="formSearch" autocomplete="off" class="navbar-nav">
                <div class="autocomplete search-box">
                  <input id="searchBar" type="text" placeholder=" Search an airport">
                  <span id="cancelSearch"></span>
                </div>
                <a id="okButton" onclick="executeSearch()" th:onclick="executeSearch()" title="Execute" class="glyphicon glyphicon-ok-circle"></a>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="../home-page.html" th:href="@{/}">
                    <span class="glyphicon glyphicon-home"></span>
                    <span>Home</span>
                  </a>
                </li>
                <li sec:authorize="isAuthenticated()">
                  <a id="flightSettings" href="../administration.html" th:href="@{/admin}" sec:authorize="hasRole('moderator') or hasRole('admin')">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span>Administration</span>
                  </a>
                </li>
                <li sec:authorize="isAuthenticated()">
                  <a id="signOut" href="../login.html" th:href="@{/logout}">
                    <span class="glyphicon glyphicon-log-out"></span>
                    <span>Logout</span>
                  </a>
                </li>
                <li sec:authorize="isAnonymous()">
                  <a id="signIn" href="../login.html" th:href="@{/login}">
                    <span class="glyphicon glyphicon-log-in"></span>
                    <span>Login</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <script th:src="@{/scripts/header.js}" src="../../static/scripts/header.js"></script>
      <script th:src="@{/scripts/autocomplete.js}" src="../../static/scripts/autocomplete.js"></script>

      <script type="text/javascript">
        $(document).ready(function () {
          $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
          });
        });

        var searchBox = document.querySelectorAll('.search-box input[type="text"] + span');
        var elm;
        searchBox.forEach(function (elm) {
          elm.addEventListener('click', function () {
            elm.previousElementSibling.value = '';
            document.querySelector("#okButton").style.display = "none";
          });
        });

        var sb = document.querySelector("#searchBar");
        sb.addEventListener("input", function () {
          var inp = this.value;
          if (inp.length > 0) {
            document.querySelector("#okButton").style.display = "inline-block";
          } else {
            document.querySelector("#okButton").style.display = "none";
          }
        });

        function executeSearch() {
          var valInput = document.querySelector("#searchBar");
          var valOK = document.querySelector("#okButton");
          valOK.setAttribute("href", "[[@{/infoPage?name=}]]" + encodeURIComponent(valInput.value));
        }

        autocomplete(document.querySelector("#searchBar"), document.querySelector("#searchBar"), "airports");
      </script>

    </div>
  </body>
</html>