<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--meta name="_csrf" th:content="${_csrf.token}" /> for Spring Security -->
    <!--meta name="_csrf_header" th:content="${_csrf.headerName}" /> for Spring Security -->

    <title>International Airports</title>

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" th:href="@{/styles/homepage-pic-slider.css}" href="../static/styles/homepage-pic-slider.css">
    <link type="text/css" rel="stylesheet" th:href="@{/styles/header.css}" href="../static/styles/header.css">
    <link type="text/css" rel="stylesheet" th:href="@{/styles/footer.css}" href="../static/styles/footer.css">
    <link type="text/css" rel="stylesheet" th:href="@{/styles/search-box-homepage-style.css}" href="../static/styles/search-box-homepage-style.css">

    <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="wrapper">
      <div th:replace="fragments/header :: main-header"></div>
      <div class="w3-content w3-section">
        <img class="mySlides w3-animate-fading" style="top: 0; left: 0; position: absolute; width:100vw; height: 100vh; object-fit: cover; background-size: cover; background-position: center" th:src="@{/images/airplane1.jpg}" src="../static/images/airplane1.jpg">
        <img class="mySlides w3-animate-fading" style="top: 0; left: 0; position: absolute; width:100vw; height: 100vh; object-fit: cover; background-size: cover; background-position: center" th:src="@{/images/airplane2.jpg}" src="../static/images/airplane2.jpg">
        <img class="mySlides w3-animate-fading" style="top: 0; left: 0; position: absolute; width:100vw; height: 100vh; object-fit: cover; background-size: cover; background-position: center" th:src="@{/images/airplane3.jpg}" src="../static/images/airplane3.jpg">
        <img class="mySlides w3-animate-fading" style="top: 0; left: 0; position: absolute; width:100vw; height: 100vh; object-fit: cover; background-size: cover; background-position: center" th:src="@{/images/airplane4.jpg}" src="../static/images/airplane4.jpg">
        <img class="mySlides w3-animate-fading" style="top: 0; left: 0; position: absolute; width:100vw; height: 100vh; object-fit: cover; background-size: cover; background-position: center" th:src="@{/images/airplane5.jpg}" src="../static/images/airplane5.jpg">
        <img class="mySlides w3-animate-fading" style="top: 0; left: 0; position: absolute; width:100vw; height: 100vh; object-fit: cover; background-size: cover; background-position: center" th:src="@{/images/airplane6.jpg}" src="../static/images/airplane6.jpg">
      </div>
      <div id="content">
        <div class="main-pic">
          <form id="formSearchHome" autocomplete="off" class="navbar-nav">
            <div class="autocomplete search-box-home">
              <input id="searchBarHome" type="text" placeholder=" Search an airport">
              <span id="cancelSearch"></span>
            </div>
            <a id="okButtonHome" th:onclick="executeSearchHome()" title="Execute" class="glyphicon glyphicon-ok-circle"></a>
          </form>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
      </div>
    </div>

    <script>
      var myIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 8000);
      }

      document.querySelector("#formSearch").style.display = "none";

      var searchBoxHome = document.querySelectorAll('.search-box-home input[type="text"] + span');
      var elm;
      searchBoxHome.forEach(function (elm) {
        elm.addEventListener('click', function () {
          elm.previousElementSibling.value = '';
          document.querySelector("#okButtonHome").style.display = "none";
        });
      });

      var sbh = document.querySelector("#searchBarHome");
      sbh.addEventListener("input", function () {
        var inp = this.value;
        if (inp.length > 0) {
          document.querySelector("#okButtonHome").style.display = "inline-block";
        } else {
          document.querySelector("#okButtonHome").style.display = "none";
        }
      });

      function executeSearchHome() {
        var valInput = document.querySelector("#searchBarHome");
        var valOK = document.querySelector("#okButtonHome");
        valOK.setAttribute("href", "[[@{/infoPage?name=}]]" + encodeURIComponent(valInput.value));
      }

      autocomplete(document.querySelector("#searchBarHome"));
    </script>

  </body>
</html>
