<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Flight List Administration</title>

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/styles/search-box-flight-style.css}" href="../static/styles/search-box-flight-style.css">
    <link rel="stylesheet" th:href="@{/styles/header.css}" href="../static/styles/header.css">
    <link rel="stylesheet" th:href="@{/styles/footer.css}" href="../static/styles/footer.css">
    <link rel="stylesheet" th:href="@{/styles/search-box-header-style.css}" href="../static/styles/search-box-header-style.css">
    <link rel="stylesheet" th:href="@{/styles/background-style.css}" href="../static/styles/background-style.css">

    <script th:src="@{/scripts/header.js}" src="../static/scripts/header.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="wrapper">
      <div th:replace="fragments/header :: main-header"></div>
      <div id="content">
        <div class="center-pager">
          <div class="container">
            <table>
              <thead>
                <tr>
                  <td>New Flight Registration</td>
                </tr>
              </thead>
            </table>
            <div class="space"></div>
            <form id="formSubmitSearch" th:action="@{/add-new-flight}" method="post" th:object="${newFlight}">
              <div class="form-group">
                <label for="flightNo">Flight Number</label>
                <input type="text" class="form-control" id="flightNo" th:field="*{flightNo}" placeholder="Enter flight number" required>
              </div>
              <div class="form-group">
                <label for="departure_time">Departure Date/Time</label>
                <input type="datetime-local" class="form-control" id="departure_time" th:field="*{departure}"  placeholder="" required>
              </div>
              <div class="form-group">
                <label for="departure_airport">Departure Airport</label>
                <input type="text" class="form-control" id="departure_airport" th:field="*{departureAirport}"  placeholder="Search departure airport" required>
              </div>
              <div class="form-group">
                <label for="arrival_time">Arrival Date/Time</label>
                <input type="datetime-local" class="form-control" id="arrival_time" th:field="*{arrival}"  placeholder="" required>
              </div>
              <div class="form-group">
                <label for="arrival_airport">Arrival Airport</label>
                <input type="text" class="form-control" id="arrival_airport" th:field="*{arrivalAirport}"  placeholder="Search arrival airport" required>
              </div>
              <div class="form-group">
                <label for="airlineCompany">Airline Company</label>
                <input type="text" class="form-control" id="airlineCompany" th:field="*{airline}"  placeholder="Search airline company" required>
              </div>
              <div class="buttons">
                <button id="submitFlight" type="submit" class="btn btn-info btn-block">Submit flight</button>
                <a id="cancelSubmit" class="btn btn-info btn-block" th:onclick="cancelSearch()">Cancel</a>
              </div>
              <div class="space"></div>
            </form>
          </div>
          <div id="showResult" class="container2">
            <table>
              <thead>
                <tr>
                  <td>List</td>
                </tr>
              </thead>
            </table>
            <div class="space"></div>
            <form id="formFlightSearch" autocomplete="off">
             <div class="list autocomplete-flight">
               <input id="resultSearch" type="text" class="form-control" readonly>
             </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      function cancelSearch() {
        var valCancel = document.getElementById("cancelSubmit");
        valCancel.setAttribute("href", "[[@{/admin}]]");
      }
    </script>

    <script type="text/javascript" th:inline="javascript">
      function autocompleteFlight(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function(e) {
          var a, b, i, val = this.value;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;
          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list-flight");
          a.setAttribute("class", "autocomplete-items-flight");
          /*append the DIV element as a child of the autocomplete container:*/
          document.getElementById("resultSearch").parentNode.appendChild(a);
          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {
            /*below 7 lines searches the item that starts with the same letters as text field, from the beginning */
            /*check if the item starts with the same letters as the text field value:*/
            /*if (arr[i].substr(0, val.length).toUpperCase() === val.toUpperCase()) {*/
            /*create a DIV element for each matching element:*/
            /*b = document.createElement("DIV");*/
            /*make the matching letters bold:*/
            /*b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";*/
            /*b.innerHTML += arr[i].substr(val.length);*/

            /*check if the item contains the same letters anywhere in the string as the text field value:*/
            if (arr[i].substr(arr[i].toLowerCase().indexOf(val.toLowerCase()), val.length).toUpperCase() === val.toUpperCase()) {
              /*create a DIV element for each matching element:*/
              b = document.createElement("DIV");
              b.style.borderRadius = "5px";
              b.style.border = "1px solid #CEE4FA";
              /*make the matching letters bold:*/
              b.innerHTML = arr[i].substr(0, arr[i].toLowerCase().indexOf(val.toLowerCase()))
                + "<strong>" + arr[i].substr(arr[i].toLowerCase().indexOf(val.toLowerCase()), val.length) + "</strong>";
              /*complete the finding string*/
              b.innerHTML += arr[i].substr(arr[i].toLowerCase().indexOf(val.toLowerCase()) + val.length);
              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
                /*insert the value for the autocomplete text field:*/
                inp.value = this.getElementsByTagName("input")[0].value;
                /*close the list of autocompleted values,
                (or any other open lists of autocompleted values:*/
                closeAllLists();
              });
              a.appendChild(b);
            }
          }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list-flight");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode === 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode === 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode === 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
            }
          }
        });
        function addActive(x) {
          /*a function to classify an item as "active":*/
          if (!x) return false;
          /*start by removing the "active" class on all items:*/
          removeActive(x);
          if (currentFocus >= x.length) currentFocus = 0;
          if (currentFocus < 0) currentFocus = (x.length - 1);
          /*add class "autocomplete-active":*/
          x[currentFocus].classList.add("autocomplete-active-flight");
        }
        function removeActive(x) {
          /*a function to remove the "active" class from all autocomplete items:*/
          for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active-flight");
          }
        }
        function closeAllLists(elmnt) {
          /*close all autocomplete lists in the document,
          except the one passed as an argument:*/
          var x = document.getElementsByClassName("autocomplete-items-flight");
          for (var i = 0; i < x.length; i++) {
            if (elmnt !== x[i] && elmnt !== inp) {
              x[i].parentNode.removeChild(x[i]);
            }
          }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
          closeAllLists(e.target);
        });
      }

      var airportNamesFlight = [[${airportListNames}]];
      var airlineNamesFlight = [[${airlineListNames}]];

      $(document).ready(function() {
        $('#departure_airport').focus(function() {
          $('.container2').show('slow');
          autocompleteFlight(document.getElementById("departure_airport"), airportNamesFlight);
        });
        $('#departure_airport').focusout(function() {
          $('.container2').hide('slow');
        });
        $('#departure_airport').blur(function(){
          if( !$(this).val() ) {
            $('.container2').hide('slow');
          }
        });

        $('#arrival_airport').focus(function() {
          $('.container2').show('slow');
          autocompleteFlight(document.getElementById("arrival_airport"), airportNamesFlight);
        });
        $('#arrival_airport').focusout(function() {
          $('.container2').hide('slow');
        });
        $('#arrival_airport').blur(function(){
          if( !$(this).val() ) {
            $('.container2').hide('slow');
          }
        });

        $('#airlineCompany').focus(function() {
          $('.container2').show('slow');
          autocompleteFlight(document.getElementById("airlineCompany"), airlineNamesFlight);
        });
        $('#airlineCompany').focusout(function() {
          $('.container2').hide('slow');
        });
        $('#airlineCompany').blur(function(){
          if( !$(this).val() ) {
            $('.container2').hide('slow');
          }
        });
      });
    </script>
  </body>
</html>